In [1]:
import pandas as pd
import numpy as np

In [2]:
# place customers.csv, orders.csv, and products.csv in dataframes

customers = pd.read_csv('customers.csv')
orders = pd.read_csv('orders.csv')
products = pd.read_csv('products.csv')

orders.head()

,OrderID,CustomerID,ProductID,OrderDate,Quantity,TotalAmount,OrderStatus,Company
0,O000,C047,P038,2025-01-10 06:32:44,6,2669.40,Completed,Bright Ltd
1,O001,C113,P079,2025-01-01 02:58:50,3,1366.47,Completed,Jordan-Little
2,O002,C106,P018,2025-01-13 06:09:18,8,2509.52,Completed,"Kaiser, Vargas and Smith"
3,O002,C187,P083,2025-01-13 06:09:18,10,2934.70,Completed,"Kaiser, Vargas and Smith"
4,O002,C144,P074,2025-01-13 06:09:18,2,443.58,Completed,"Kaiser, Vargas and Smith"